@model GuitarShop.BLL.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ProductName</h2>
<div class="form-horizontal">
    <hr />

    <dl class="dl-horizontal">
        <dt>
            <p class="text-justify">@Html.DisplayNameFor(item => item.ProductDescription)</p>
        </dt>
        <dd>
            @Html.DisplayFor(item => item.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(item => item.Price)
        </dt>
        <dd>
            @Html.DisplayFor(item => item.Price)$
        </dd>

        <dt>
            @Html.DisplayNameFor(item => item.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(item => item.Quantity)
        </dd>
            <img src="~/img/Catalog/@Model.FileName" class="rounded-start" width="150" height="400" asp-append-version="true" />
        </dd>
    </dl>
</div>
<div class="btn btn-outline-dark">
    @Html.ActionLink("Back to List", "Index", "CabinetProduct");
</div>