@model GuitarShop.BLL.Models.User


<h1>Information about @User.Identity.Name:</h1>
<p>ID: @Model.Id</p>
<p>User Name: @Model.UserName</p>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Role: @Model.Role</p>
<p>Email: @Model.Email</p>


<ul>
    <li class="nav-item">
        <a class="nav-link active"  asp-controller="CabinetUser" asp-action="Index">User Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  asp-controller="CabinetProduct" asp-action="Index">Product Details</a>
    </li>
</ul>



