@model GuitarShop.BLL.Models.User

<h1>Information about @Model.UserName:</h1>
<p>User Name: @Model.UserName</p>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Role: @Model.Role</p>
<p>Email: @Model.Email</p>