@using GuitarShop.DAL.Entities;
@model IList<Product>

@{
    ViewData["Title"] = "Catalog";
}
<h1>@ViewData["Title"]</h1>


@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <ul style="display: flex; list-style: none; white-space: nowrap;">
            <li style="margin-right: 10px;"><strong>@item.ProductName</strong></li>
            <li class="text-truncate" style="margin-right: 10px;">@item.ProductDescription</li>
            <strong>Price:</strong>
            <li style="margin-right: 10px;">@item.Price</li>
            <strong>Quantity:</strong>
            <li style="margin-right: 10px;">@item.Quantity</li>
            <img src="~/img/Catalog/@item.ImageData" class="img-fluid" width="150" height="400" asp-append-version="true" />
            @if (User.Identity.IsAuthenticated)
            {
                @using (Html.BeginForm())
                {
                    <div class="pull-right">
                        <input type="submit" class="btn btn-success" value="Add to Cart" asp-route-id="@item.Id" asp-controller="Cart" asp-action="AddItemToCart" />
                    </div>
                }
            }
        </ul>
    }
}
