
@model List<ProductViewModel> 
@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    <form asp-controller="Home" asp-action="Index">
        <p>
            <h5><i class="fas fa-search"></i>  What guitar are You looking for?</h5> 
            <input type="text" class="form-control" name="query" />
            <input type="submit" class="btn btn-dark text-center" value="Find it!" /> 
            <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
        </p>
    </form>
</div>
<h1>@ViewBag.Message</h1>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <ul style="display: flex; list-style: none; white-space: nowrap;">
            <img src="~/img/Catalog/@item.FileName" class="rounded-bottom" width="20" height="60" asp-append-version="true" />
            <li style="margin-right: 10px;"><strong>@item.Name</strong></li>
            <li class="text-truncate" style="margin-right: 10px;">@item.Description</li>
            <strong>Price:</strong><li style="margin-right: 10px;">@item.Price</li>
            <strong>Quantity:</strong><li style="margin-right: 10px;">@item.Quantity</li>
        </ul>
    }
}
