@model IList<CategoryViewModel>

@{
    ViewData["Title"] = "Category Info";
    var check = Model;
}


@Html.ActionLink("Create New Base Category", "Create")
<h4>Categories:</h4>
@if (check != null)
{
    <ul>
        @foreach (var category in check.Where(c => c.ParentCategoryId == null))
        {
            <li>
                <a>
                    @category.Name
                </a>
                @Html.ActionLink("Create", "Create", new { id = category.Id }) |
                @Html.ActionLink("Delete", "DeleteById", new { id = category.Id }) 
                @{
                    SubCategories(category);
                }
            </li>
        }
    </ul>
}

@functions
{
    void SubCategories(CategoryViewModel category)
    {
        var check = Model;
        var subCategories = check.Where(c => c.ParentCategoryId == category.Id);

        if (subCategories.Any())
        {
            <ul>

                @foreach (var subCategory in subCategories)
                {
                    <li>
                        <a>
                            @subCategory.Name
                        </a>
                        @Html.ActionLink("Create", "Create", new { id = subCategory.Id }) |
                        @Html.ActionLink("Delete", "DeleteById", new { id = subCategory.Id })
                        @{
                            SubCategories(subCategory);
                        }
                    </li>
                }
            </ul>
        }
    }
}



