@{
    var categories = ViewData["Categories"] as List<CategoryViewModel>;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Index"] - GuitarShop</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!-- Подключение CSS-файла FontAwesome -->
    <link rel="stylesheet" href="~/lib/bootstrap/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GuitarShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-6KY5s6UI5J7SVYuZB4S/CZMyPylqyyNZco376NM2Z8Sb8OxEdp02e1jkKk/wZxIEmjQ6DRCEBhni+gpr9c4tvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.4.0/css/bootstrap.min.css" integrity="sha512-example" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-center"
                     id="navbarCenteredExample">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" style="margin-top: 38px; color: saddlebrown" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" id="menu" data-bs-toggle="dropdown" class="nav-link dropdown-toggle" style="margin-top: 38px; color: saddlebrown"><i class="fas fa-guitar"></i>Catalog</a>
                            <ul class="dropdown-menu">
                                @if (categories != null)
                                {
                                    @foreach (var category in categories)
                                    {
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" style="color: saddlebrown" href="@Url.Action("GetProductsByCategory", "NavigationMenu", new { id = category.Id })">@category.Name</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" style="color: saddlebrown" href="#"></a></li>
                                            </ul>
                                        </li>
                                    }
                                }
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="nav-link active" style="color: saddlebrown" asp-controller="Home" asp-action="Catalog">All Guitars</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" style="color: saddlebrown" href="#"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.bmp" alt="Home icon" width="100" height="80" /></a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" style="margin-top: 38px; color: saddlebrown" style="color: darkturquoise" asp-controller="Cabinet" asp-action="Index"><i class="fas fa-user"></i>@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="margin-top: 38px; color: saddlebrown" asp-controller="Authentication" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" style="margin-top: 38px; color: saddlebrown" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart"></i>Cart @ViewBag.Count<span id="cart-count" class="badge badge-danger"></span></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="margin-top: 38px; color: saddlebrown" asp-controller="Authentication" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="margin-top: 38px; color: saddlebrown" asp-controller="Registration" asp-action="Register"><i class="fas fa-user-plus"></i>Registration</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            2023 - GuitarShop - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.min.js" integrity="sha512-ewfXo9Gq53e1q1+WDTjaHAGZ8UvCWq0eXONhwDuIoaH8xz2r96uoAYaQCm1oQhnBfRXrvJztNXFsTloJfgbL5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
